{% extends 'base.html.twig' %}

{% block body %}

	<div class=" overflow-y-auto overflow-x-hidden  justify-center items-center w-full h-[calc(100%-1rem)] max-h-full">
		<div class="relative p-4 w-full  max-h-full">

			<div class="relative bg-black px-12   ">

				<h1 class="text-xl font-semibold text-white m-0 ">Update Experience
				</h1>
				<hr class="w-[10%] mb-10 mt-2">
				{{ form_start(form) }}
				<div>
					{{ form_label(form.organization) }}
					{{ form_widget(form.organization) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.organization) }}
					</div>
				</div>
				<div>
					{{ form_label(form.role_en) }}
					{{ form_widget(form.role_en) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.role_en) }}
					</div>
				</div>
				<div>
					{{ form_label(form.role_fr) }}
					{{ form_widget(form.role_fr) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.role_fr) }}
					</div>
				</div>
				<div>
					{{ form_label(form.start_date) }}
					{{ form_widget(form.start_date) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.start_date) }}
					</div>
				</div>
				<div>
					{{ form_label(form.end_date) }}
					{{ form_widget(form.end_date) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.end_date) }}
					</div>
				</div>
				<div>
					{{ form_label(form.responsibilities_en) }}
					{{ form_widget(form.responsibilities_en) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.responsibilities_en) }}
					</div>
				</div>
				<div>
					{{ form_label(form.responsibilities_fr) }}
					{{ form_widget(form.responsibilities_fr) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.responsibilities_fr) }}
					</div>
				</div>
				<div>
					{{ form_label(form.achievements_en) }}
					{{ form_widget(form.achievements_en) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.achievements_en) }}
					</div>
				</div>
				<div>
					{{ form_label(form.achievements_fr) }}
					{{ form_widget(form.achievements_fr) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.achievements_fr) }}
					</div>
				</div>
				<div>
					{{ form_label(form.description_en) }}
					{{ form_widget(form.description_en) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.description_en) }}
					</div>
				</div>
				<div>
					{{ form_label(form.description_fr) }}
					{{ form_widget(form.description_fr) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.description_fr) }}
					</div>
				</div>
				<div>
					{{ form_label(form.technologies_used) }}
					{{ form_widget(form.technologies_used, { 'attr': {'class': 'select-multiple'} }) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.technologies_used) }}
					</div>
				</div>
				<div>
					{{ form_label(form.imageFile) }}
					{{ form_widget(form.imageFile) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.imageFile) }}
					</div>
				</div>
				<div class="w-full flex items-center justify-end">
					{{ form_widget(form.submit) }}
				</div>
				{{ form_end(form) }}


			</div>
		</div>
	</div>

{% endblock %}


{% block javascripts %}


	<script>
		document.addEventListener('DOMContentLoaded', (event) => {
const deleteLabel = document.querySelector('label[for$="_imageFile_delete"]');
if (deleteLabel) {
deleteLabel.textContent = 'Delete image';
deleteLabel.classList.add('custom-delete-label', 'text-gray-100');
}
});
	</script>

{% endblock %}
