{% extends 'base.html.twig' %}

{% block body %}


	<div class="grid mb-4 pb-10 pt-3   lg:px-8 lg:mx-4 mx-2 rounded-sm bg-black min-h-screen">


		<div class="  transition-colors duration-300 ">
			<div class="container mx-auto p-4">

				<div class=" mb-3 whiteShadow rounded-lg p-6">
					<div class="flex justify-end mb-10">

						<button data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="  text-gray-100 text-center text-sm text-white rounded-lg  block w-full md:w-[48%] lg:w-[32%] p-2 bg-blue-600 " type="button">
							Add New Experience
						</button>
					</div>

										{% for flashMessage in app.flashes('success') %}
						<div id="alert-3" class="flex items-center p-4 mb-4  rounded-lg bg-gray-800 text-green-400" role="alert">
							<svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
								<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
							</svg>
							<div class="ms-3 text-sm font-medium">
								{{ flashMessage }}
							</div>
							<button type="button" class="ms-auto -mx-1.5 -my-1.5 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 inline-flex items-center justify-center h-8 w-8 bg-gray-800 text-green-400 hover:bg-gray-700" data-dismiss-target="#alert-3" aria-label="Close">
								<span class="sr-only">Close</span>
								<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 14">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
								</svg>
							</button>
						</div>
					{% endfor %}

					{% for flashMessage in app.flashes('error') %}
						<div id="alert-2" class="flex items-center p-4 mb-4 rounded-lg bg-gray-800 text-red-400" role="alert">
							<svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
								<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
							</svg>
							<div class="ms-3 text-sm font-medium">
								{{ flashMessage }}
							</div>
							<button type="button" class="ms-auto -mx-1.5 -my-1.5  rounded-lg focus:ring-2 focus:ring-red-400 p-1.5  inline-flex items-center justify-center h-8 w-8 bg-gray-800 text-red-400 hover:bg-gray-700" data-dismiss-target="#alert-2" aria-label="Close">
								<span class="sr-only">Close</span>
								<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 14">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
								</svg>
							</button>
						</div>
					{% endfor %}

					<div class="w-full   ">

						{% if experiences|length > 0 %}
							{% for experience in experiences %}


								<div class="project_card mb-3">
									<div class="flex flex-col md:flex-row h-full gap-4">
										{% if experience.imageName %}
											<div class="p-8 rounded-lg overflow-hidden flex items-center bg-center bg-cover bg-no-repeat h-[170px] w-full md:w-[180px] " style="background-image:url('{{ vich_uploader_asset(experience, 'imageFile') }}')"></div>
										{% endif %}
										<div class="main-content ">
											<div class="w-full flex flex-col md:flex-row justify-between md:items-center items-start">
												<div class="flex justify-start items-center  mb-2">
													<span class="text-gray-200 text-sm mr-2">Organization :
													</span>
													<span class="text-sm">
														{{ experience.organization }}</span>
												</div>
												<div class=" flex justify-start gap-2 items-center mb-2">
													<div class="header">
														<span>{{ experience.getStartDate()|date('Y-m-d') }}
														</span>
													</div>
													<div class="header">
														<span>-</span>
													</div>
													<div class="header">
														<span>{{ experience.getEndDate()|date('Y-m-d') }}</span>

													</div>
												</div>
											</div>

											<div class="flex justify-start items-center  mb-2">
												<span class="text-gray-200 text-sm mr-2">Role :
												</span>
												<span class="text-sm">
													{{ experience.RoleEn }}</span>
											</div>


											<div class="flex justify-start items-center  mb-1">
												<span class="text-gray-200 text-sm mr-2">Responsibilities :
												</span>

											</div>
											<div class="flex justify-start items-center text-xs text-gray-100  mb-2">

												<span>
													{{ experience.ResponsibilitiesEn }}</span>
											</div>
											<div class="flex justify-start items-center  mb-1">
												<span class="text-gray-200 text-sm mr-2">Achievements :
												</span>

											</div>
											<div class="flex justify-start items-center text-xs text-gray-100  mb-2">

												<span>
													{{ experience.AchievementsEn }}</span>
											</div>
											<div class="flex justify-start items-center  mb-1">
												<span class="text-gray-200 text-sm mr-2">Description :
												</span>

											</div>
											<div class="flex justify-start items-center text-xs text-gray-100  mb-2">

												<span>
													{{ experience.DescriptionEn }}</span>
											</div>

											<div class="flex justify-start items-center  mb-2">
												<span class="text-gray-200 text-sm mr-2">Technologies Used :
												</span>
												<div class="categories flex gap-3 flex-wrap my-3">

													{% for skill in experience.getTechnologiesUsed() %}
														<span>{{ skill.name }}</span>
													{% endfor %}

												</div>
											</div>

											<div class="flex  items-center  justify-end">
												<div class="flex items-center gap-4 justify-end ">
													<a href="{{ path('app_experience_edit', { id: experience.id }) }}" class="hover:bg-white/5 p-2 rounded-lg">
														<img src="{{ asset('images/svg/edit.svg') }}" class="h-4 w-4   " alt="">
													</a>
													<a href="{{ path('app_experience_delete', { id: experience.id }) }}" class="hover:bg-white/5 p-2 rounded-lg" data-modal-target="deleteConfirmationModal" data-modal-toggle="deleteConfirmationModal"  onclick="showDeleteConfirmation(event)" >
														<img src="{{ asset('images/svg/delete.svg') }}" class="h-4 w-4   " alt="">
													</a>
												</div>
											</div>
										</div>

									</div>
								</div>

							{% endfor %}
						{% else %}
							<div class="w-full text-center text-gray-100">
								No Experience found
							</div>
						{% endif %}

					</div>
				</div>

			</div>


		</div>

	</div>

	<!-- Main modal -->
	<div id="crud-modal" tabindex="-1" aria-hidden="true" class="  hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
		<div
			class="relative p-4 w-full  max-w-3xl max-h-full">
			<!-- Modal content -->
			<div
				class="relative bg-black  border border-gray-500 border-2 p-3 rounded-2xl ">
				<!-- Modal header -->
				<div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 mb-2">
					<h3 class="text-lg font-semibold text-gray-100 dark:text-white">
						Create new Experience
					</h3>
					<button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
						<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 14">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
						</svg>
						<span class="sr-only">Close modal</span>
					</button>
				</div>
				{{ form_start(form) }}
				<div>
					{{ form_label(form.organization) }}
					{{ form_widget(form.organization) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.organization) }}
					</div>
				</div>
				<div>
					{{ form_label(form.role_en) }}
					{{ form_widget(form.role_en) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.role_en) }}
					</div>
				</div>
				<div>
					{{ form_label(form.role_fr) }}
					{{ form_widget(form.role_fr) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.role_fr) }}
					</div>
				</div>
				<div>
					{{ form_label(form.start_date) }}
					{{ form_widget(form.start_date) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.start_date) }}
					</div>
				</div>
				<div>
					{{ form_label(form.end_date) }}
					{{ form_widget(form.end_date) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.end_date) }}
					</div>
				</div>
				<div>
					{{ form_label(form.responsibilities_en) }}
					{{ form_widget(form.responsibilities_en) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.responsibilities_en) }}
					</div>
				</div>
				<div>
					{{ form_label(form.responsibilities_fr) }}
					{{ form_widget(form.responsibilities_fr) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.responsibilities_fr) }}
					</div>
				</div>
				<div>
					{{ form_label(form.achievements_en) }}
					{{ form_widget(form.achievements_en) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.achievements_en) }}
					</div>
				</div>
				<div>
					{{ form_label(form.achievements_fr) }}
					{{ form_widget(form.achievements_fr) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.achievements_fr) }}
					</div>
				</div>
				<div>
					{{ form_label(form.description_en) }}
					{{ form_widget(form.description_en) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.description_en) }}
					</div>
				</div>
				<div>
					{{ form_label(form.description_fr) }}
					{{ form_widget(form.description_fr) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.description_fr) }}
					</div>
				</div>
				<div>
					{{ form_label(form.technologies_used) }}
					{{ form_widget(form.technologies_used, { 'attr': {'class': 'select-multiple'} }) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.technologies_used) }}
					</div>
				</div>
				<div>
					{{ form_label(form.imageFile) }}
					{{ form_widget(form.imageFile) }}
					<div class="text-red-600 py-2">
						{{ form_errors(form.imageFile) }}
					</div>
				</div>
				<div class="w-full flex items-center justify-end">
					{{ form_widget(form.submit) }}
				</div>
				{{ form_end(form) }}

			</div>
		</div>
	</div>

{% endblock %}
