{% extends 'base.html.twig' %}

{% block body %}


	<div class="grid mb-4 pb-10 pt-3 lg:px-8 lg:mx-4 mx-2 rounded-sm bg-black min-h-screen">
		<div class="  transition-colors duration-300 ">
			<div class="container mx-auto p-4">
				<div class="mb-3 whiteShadow  rounded-lg p-6 mt-10  ">
					{% for flashMessage in app.flashes('success') %}
						<div id="alert-3" class="flex items-center p-4 mb-4  rounded-lg bg-gray-800 text-green-400" role="alert">
							<svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
								<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
							</svg>
							<div class="ms-3 text-sm font-medium">
								{{ flashMessage }}
							</div>
							<button type="button" class="ms-auto -mx-1.5 -my-1.5 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 inline-flex items-center justify-center h-8 w-8 bg-gray-800 text-green-400 hover:bg-gray-700" data-dismiss-target="#alert-3" aria-label="Close">
								<span class="sr-only">Close</span>
								<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 14">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
								</svg>
							</button>
						</div>
					{% endfor %}

					{% for flashMessage in app.flashes('error') %}
						<div id="alert-2" class="flex items-center p-4 mb-4 rounded-lg bg-gray-800 text-red-400" role="alert">
							<svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
								<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
							</svg>
							<div class="ms-3 text-sm font-medium">
								{{ flashMessage }}
							</div>
							<button type="button" class="ms-auto -mx-1.5 -my-1.5  rounded-lg focus:ring-2 focus:ring-red-400 p-1.5  inline-flex items-center justify-center h-8 w-8 bg-gray-800 text-red-400 hover:bg-gray-700" data-dismiss-target="#alert-2" aria-label="Close">
								<span class="sr-only">Close</span>
								<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 14">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
								</svg>
							</button>
						</div>
					{% endfor %}
					<h1 class="text-3xl font-bold text-white mb-6">Update Your Personal Information</h1>
					<form action="{{ path('app_update_personal_information') }}" method="post">
	{% if PersonalInformation is defined and PersonalInformation.id is defined %}
    <div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
            <input type="hidden" name="id" value="{{ PersonalInformation.id }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
            <div>
                <label for="firstName" class="block text-gray-300 mb-1">First name</label>
                <input id="firstName" type="text" placeholder="First name" class="border text-gray-100 text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 focus:border-gray-400 inputs" name="firstName" value="{{ PersonalInformation.firstName }}">
            </div>
            <div>
                <label for="lastName" class="block text-gray-300 mb-1">Last name</label>
                <input id="lastName" type="text" placeholder="Last name" class="border text-gray-100 text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 focus:border-gray-400 inputs" name="lastName" value="{{ PersonalInformation.lastName }}">
            </div>
            <div>
                <label for="nickName" class="block text-gray-300 mb-1">Nick name</label>
                <input id="nickName" type="text" placeholder="Nick name" class="border text-gray-100 text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 focus:border-gray-400 inputs" name="nickName" value="{{ PersonalInformation.nickName }}">
            </div>
        </div>

        <div class="mb-4">
            <label for="presentation_en" class="block text-gray-300 mb-1">Presentation (English)</label>
            <textarea id="presentation_en" placeholder="Presentation (English)" name="presentation_en" class="h-[150px] border text-gray-100 text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 focus:border-gray-400 inputs">{{ PersonalInformation.PresentationEn }}</textarea>
        </div>
        <div class="mb-4">
            <label for="presentation_fr" class="block text-gray-300 mb-1">Presentation (French)</label>
            <textarea id="presentation_fr" placeholder="Presentation (French)" name="presentation_fr" class="h-[150px] border text-gray-100 text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 focus:border-gray-400 inputs">{{ PersonalInformation.PresentationFr }}</textarea>
        </div>

        <div class="mb-4">
            <label for="about_en" class="block text-gray-300 mb-1">About (English)</label>
            <textarea id="about_en" placeholder="About (English)" name="about_en" class="h-[150px] border text-gray-100 text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 focus:border-gray-400 inputs">{{ PersonalInformation.AboutEn }}</textarea>
        </div>
        <div class="mb-4">
            <label for="about_fr" class="block text-gray-300 mb-1">About (French)</label>
            <textarea id="about_fr" placeholder="About (French)" name="about_fr" class="h-[150px] border text-gray-100 text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 focus:border-gray-400 inputs">{{ PersonalInformation.AboutFr }}</textarea>
        </div>
        <div class="mb-4">
            <label for="position_en" class="block text-gray-300 mb-1">Position (English)</label>
            <input id="position_en" type="text" placeholder="Position (English)" class="border text-gray-100 text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 focus:border-gray-400 inputs" name="position_en" value="{{ PersonalInformation.PositionEn }}">
        </div>
        <div class="mb-4">
            <label for="position_fr" class="block text-gray-300 mb-1">Position (French)</label>
            <input id="position_fr" type="text" placeholder="Position (French)" class="border text-gray-100 text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 focus:border-gray-400 inputs" name="position_fr" value="{{ PersonalInformation.PositionFr }}">
        </div>
        <div class="mb-4">
            <label for="current_role_en" class="block text-gray-300 mb-1">Current role (English)</label>
            <input id="current_role" type="text" placeholder="Current role (English)" class="border text-gray-100 text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 focus:border-gray-400 inputs" name="current_role_en" value="{{ PersonalInformation.CurrentRoleEn }}">
        </div>
        <div class="mb-4">
            <label for="current_role_fr" class="block text-gray-300 mb-1">Current role (French)</label>
            <input id="current_role_fr" type="text" placeholder="Current role (French)" class="border text-gray-100 text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 focus:border-gray-400 inputs" name="current_role_fr" value="{{ PersonalInformation.CurrentRoleFr }}">
        </div>
    </div>
    <div class="w-full flex items-center justify-end">
        <button type="submit" class="w-full md:w-1/2 xl:w-1/4 px-4 py-2 rounded bg-blue-600 text-white hover:bg-blue-700 focus:outline-none transition-colors">
            Update Information
        </button>
    </div>
{% else %}
    <div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
            <div>
                <label for="firstName" class="block text-gray-300 mb-1">First name</label>
                <input id="firstName" type="text" placeholder="First name" class="border text-gray-100 text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 focus:border-gray-400 inputs" name="firstName" value="">
            </div>
            <div>
                <label for="lastName" class="block text-gray-300 mb-1">Last name</label>
                <input id="lastName" type="text" placeholder="Last name" class="border text-gray-100 text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 focus:border-gray-400 inputs" name="lastName" value="">
            </div>
            <div>
                <label for="nickName" class="block text-gray-300 mb-1">Nick name</label>
                <input id="nickName" type="text" placeholder="Nick name" class="border text-gray-100 text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 focus:border-gray-400 inputs" name="nickName" value="">
            </div>
        </div>

        <div class="mb-4">
            <label for="about_en" class="block text-gray-300 mb-1">About (English)</label>
            <textarea id="about_en" placeholder="About (English)" name="about_en" class="h-[150px] border text-gray-100 text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 focus:border-gray-400 inputs"></textarea>
        </div>
        <div class="mb-4">
            <label for="about_fr" class="block text-gray-300 mb-1">About (French)</label>
            <textarea id="about_fr" placeholder="About (French)" name="about_fr" class="h-[150px] border text-gray-100 text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 focus:border-gray-400 inputs"></textarea>
        </div>
        <div class="mb-4">
            <label for="position_en" class="block text-gray-300 mb-1">Position (English)</label>
            <input id="position_en" type="text" placeholder="Position (English)" class="border text-gray-100 text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 focus:border-gray-400 inputs" name="position_en" value="">
        </div>
        <div class="mb-4">
            <label for="position_fr" class="block text-gray-300 mb-1">Position (French)</label>
            <input id="position_fr" type="text" placeholder="Position (French)" class="border text-gray-100 text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 focus:border-gray-400 inputs" name="position_fr" value="">
        </div>
        <div class="mb-4">
            <label for="current_role_en" class="block text-gray-300 mb-1">Current role (English)</label>
            <input id="current_role" type="text" placeholder="Current role (English)" class="border text-gray-100 text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 focus:border-gray-400 inputs" name="current_role_en" value="">
        </div>
        <div class="mb-4">
            <label for="current_role_fr" class="block text-gray-300 mb-1">Current role (French)</label>
            <input id="current_role_fr" type="text" placeholder="Current role (French)" class="border text-gray-100 text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 focus:border-gray-400 inputs" name="current_role_fr" value="">
        </div>
    </div>
    <div class="w-full flex items-center justify-end">
        <button type="submit" class="w-full md:w-1/2 xl:w-1/4 px-4 py-2 rounded bg-blue-600 text-white hover:bg-blue-700 focus:outline-none transition-colors">
            Create Information
        </button>
    </div>
{% endif %}


					</form>
				</div>


			</div>
		</div>
	</div>
{% endblock %}
