{% extends 'base.html.twig' %}

{% block body %}

		<div class="  transition-colors duration-300 ">
			<div class="container mx-auto p-4">
				<h1 class="text-xl font-semibold text-white m-0 ">Update Language</h1>
				<hr class="w-[10%] mb-10 mt-2">
				<div class="my-3 px-10">

					{{ form_start(form) }}
					<div>
						{{ form_label(form.name_en) }}
						{{ form_widget(form.name_en) }}
						<div class="text-red-600 py-2">
							{{ form_errors(form.name_en) }}
						</div>
					</div>
					<div>
						{{ form_label(form.name_fr) }}
						{{ form_widget(form.name_fr) }}
						<div class="text-red-600 py-2">
							{{ form_errors(form.name_fr) }}
						</div>
					</div>
					<div>
						{{ form_label(form.proficiency_en) }}
						{{ form_widget(form.proficiency_en) }}
						<div class="text-red-600 py-2">
							{{ form_errors(form.proficiency_en) }}
						</div>
					</div>
					<div>
						{{ form_label(form.proficiency_fr) }}
						{{ form_widget(form.proficiency_fr) }}
						<div class="text-red-600 py-2">
							{{ form_errors(form.proficiency_fr) }}
						</div>
					</div>

					<div class="w-full flex items-center justify-end">
						{{ form_widget(form.submit) }}
					</div>
					{{ form_end(form) }}
					<script>
						document.addEventListener('DOMContentLoaded', (event) => {
const deleteLabel = document.querySelector('label[for$="_imageFile_delete"]');
if (deleteLabel) {
deleteLabel.textContent = 'Delete image';
deleteLabel.classList.add('custom-delete-label', 'text-gray-100');
}
});
					</script>


				</div>

			</div>


		</div>



{% endblock %}
