{# templates/components/_aside.html.twig #}



<div>
	<ul class="mt-6 leading-10">
	
	

		<li class=" {{ app.request.attributes.get('_route') == 'app_home' ? ' bg-gray-600 opacity-90 py-1  inline-flex items-center w-full text-sm font-semibold text-white transition-colors duration-150 cursor-pointer ' : '  py-1 inline-flex items-center w-full text-sm font-semibold text-gray-400 Open : false transition-colors duration-150 cursor-pointer  hover:bg-gray-600 hover:opacity-90  ' }}">
			<a href="{{ path('app_home') }}" class="w-full ml-2  text-sm font-semibold   Open : false ">
				<div class="px-1   rounded-md">
					<div class="flex items-center">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" class="h-5 w-5 " viewbox="0 0 24 24" {% if app.request.attributes.get('_route') == 'app_home' %} stroke="#ffffff" {% else %} stroke="#757575" {% endif %}>
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"/>
				</svg>

						OVERVIEW
					</div>
				</div>
			</a>
		</li>


		<li class=" {{ app.request.attributes.get('_route') == 'app_personal_information' ? ' bg-gray-600 opacity-90 py-1  inline-flex items-center w-full text-sm font-semibold text-white transition-colors duration-150 cursor-pointer ' : '  py-1 inline-flex items-center w-full text-sm font-semibold text-gray-400 Open : false transition-colors duration-150 cursor-pointer  hover:bg-gray-600 hover:opacity-90  ' }}">
			<a href="{{ path('app_personal_information') }}" class="w-full ml-2  text-sm font-semibold   Open : false ">
				<div class="px-1   rounded-md">
					<div class="flex items-center">
						<svg class="h-4 w-4 mr-2" {% if app.request.attributes.get('_route') == 'app_personal_information' %} fill="#FFFFFF" {% else %} fill="#757575" {% endif %} width="10px" height="10px" viewbox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg">
							<path d="M960 0c530.193 0 960 429.807 960 960s-429.807 960-960 960S0 1490.193 0 960 429.807 0 960 0Zm0 101.053c-474.384 0-858.947 384.563-858.947 858.947S485.616 1818.947 960 1818.947 1818.947 1434.384 1818.947 960 1434.384 101.053 960 101.053Zm-42.074 626.795c-85.075 39.632-157.432 107.975-229.844 207.898-10.327 14.249-10.744 22.907-.135 30.565 7.458 5.384 11.792 3.662 22.656-7.928 1.453-1.562 1.453-1.562 2.94-3.174 9.391-10.17 16.956-18.8 33.115-37.565 53.392-62.005 79.472-87.526 120.003-110.867 35.075-20.198 65.9 9.485 60.03 47.471-1.647 10.664-4.483 18.534-11.791 35.432-2.907 6.722-4.133 9.646-5.496 13.23-13.173 34.63-24.269 63.518-47.519 123.85l-1.112 2.886c-7.03 18.242-7.03 18.242-14.053 36.48-30.45 79.138-48.927 127.666-67.991 178.988l-1.118 3.008a10180.575 10180.575 0 0 0-10.189 27.469c-21.844 59.238-34.337 97.729-43.838 138.668-1.484 6.37-1.484 6.37-2.988 12.845-5.353 23.158-8.218 38.081-9.82 53.42-2.77 26.522-.543 48.24 7.792 66.493 9.432 20.655 29.697 35.43 52.819 38.786 38.518 5.592 75.683 5.194 107.515-2.048 17.914-4.073 35.638-9.405 53.03-15.942 50.352-18.932 98.861-48.472 145.846-87.52 41.11-34.26 80.008-76 120.788-127.872 3.555-4.492 3.555-4.492 7.098-8.976 12.318-15.707 18.352-25.908 20.605-36.683 2.45-11.698-7.439-23.554-15.343-19.587-3.907 1.96-7.993 6.018-14.22 13.872-4.454 5.715-6.875 8.77-9.298 11.514-9.671 10.95-19.883 22.157-30.947 33.998-18.241 19.513-36.775 38.608-63.656 65.789-13.69 13.844-30.908 25.947-49.42 35.046-29.63 14.559-56.358-3.792-53.148-36.635 2.118-21.681 7.37-44.096 15.224-65.767 17.156-47.367 31.183-85.659 62.216-170.048 13.459-36.6 19.27-52.41 26.528-72.201 21.518-58.652 38.696-105.868 55.04-151.425 20.19-56.275 31.596-98.224 36.877-141.543 3.987-32.673-5.103-63.922-25.834-85.405-22.986-23.816-55.68-34.787-96.399-34.305-45.053.535-97.607 15.256-145.963 37.783Zm308.381-388.422c-80.963-31.5-178.114 22.616-194.382 108.33-11.795 62.124 11.412 115.76 58.78 138.225 93.898 44.531 206.587-26.823 206.592-130.826.005-57.855-24.705-97.718-70.99-115.729Z" fill-rule="evenodd"/>
						</svg>
						personal information
					</div>
				</div>
			</a>
		</li>

		<li class=" {{ app.request.attributes.get('_route') == 'app_projects' ? ' bg-gray-600 opacity-90 py-1  inline-flex items-center w-full text-sm font-semibold text-white transition-colors duration-150 cursor-pointer ' : 'py-1 inline-flex items-center w-full text-sm font-semibold text-gray-400 Open : false transition-colors duration-150 cursor-pointer  hover:bg-gray-600 hover:opacity-90  ' }}">
			<a href="{{ path('app_projects') }}" class="w-full ml-2  text-sm font-semibold   Open : false ">
				<div class="px-1   rounded-md">
					<div class="flex items-center">

						<svg class="h-4 w-4 mr-2" stroke-width="3" viewbox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
							<defs>
								{% if  app.request.attributes.get('_route') == 'app_projects' %}
									<style>
										.a {
											fill: none;
											stroke: #FFFFFF;
											stroke-linecap: round;
											stroke-linejoin: round;
										}
									</style>
								{% else %}
									<style>
										.a {
											fill: none;
											stroke: #757575;
											stroke-linecap: round;
											stroke-linejoin: round;
										}
									</style>
								{% endif %}
							</defs>
							<path class="a" d="M37.67,6.09,42.5,11,21.59,31.89,11,21.31l4.82-4.82,5.75,5.74ZM28.48,25H38.82A1.24,1.24,0,0,1,40,26.14v4.6a1.24,1.24,0,0,1-1.15,1.15H6.65A1.15,1.15,0,0,1,5.5,30.74v-4.6A1.24,1.24,0,0,1,6.65,25h8m-8,10H38.82A1.23,1.23,0,0,1,40,36.17v4.59a1.23,1.23,0,0,1-1.15,1.15H6.65A1.15,1.15,0,0,1,5.5,40.76V36.17A1.23,1.23,0,0,1,6.65,35Z"/>
						</svg>


						projects
					</div>
				</div>
			</a>
		</li>

		<li class=" {{ app.request.attributes.get('_route') == 'app_education' ? ' bg-gray-600 opacity-90 py-1  inline-flex items-center w-full text-sm font-semibold text-white transition-colors duration-150 cursor-pointer ' : 'py-1 inline-flex items-center w-full text-sm font-semibold text-gray-400 Open : false transition-colors duration-150 cursor-pointer  hover:bg-gray-600 hover:opacity-90  ' }}">
			<a href="{{ path('app_education') }}" class="w-full ml-2  text-sm font-semibold   Open : false ">
				<div class="px-1   rounded-md">
					<div class="flex items-center">
						<svg class="h-4 w-4 mr-2" {% if app.request.attributes.get('_route') == 'app_education' %} fill="#FFFFFF" {% else %} fill="#757575" {% endif %} viewbox="0 0 14 14" role="img" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><path d="m 12.499079,12.25525 c 0.0968,0 0.188377,-0.0436 0.249339,-0.11884 0.06096,-0.0752 0.08473,-0.17385 0.06473,-0.26853 l -0.202146,-0.95662 c 0.115125,-0.11137 0.187491,-0.26686 0.187491,-0.43975 0,-0.182 -0.08106,-0.34343 -0.206876,-0.45558 l 0,-3.32202 -0.810333,0.50146 0,2.82056 c -0.125815,0.11215 -0.2069,0.27358 -0.2069,0.45558 0,0.17291 0.07239,0.32841 0.187515,0.43975 l -0.20217,0.95662 c -0.02,0.0947 0.0038,0.19335 0.06473,0.26853 0.06096,0.0752 0.152539,0.11884 0.249339,0.11884 l 0.625281,0 z M 12.773741,4.75539 7.5021019,1.49209 C 7.3477151,1.39699 7.1736728,1.34925 6.9996305,1.34925 c -0.1740423,0 -0.3482077,0.0477 -0.5016586,0.14284 l -5.271713,3.2633 C 1.0854931,4.84249 0.99999905,4.99633 0.99999905,5.1619 c 0,0.1656 0.085494,0.31949 0.22625985,0.40673 l 5.2716883,3.26333 c 0.153451,0.0952 0.3276163,0.14284 0.5016586,0.14284 0.1740423,0 0.3481092,-0.0477 0.5024714,-0.14284 L 12.773741,5.56863 c 0.140766,-0.0872 0.22626,-0.24113 0.22626,-0.40673 0,-0.16557 -0.08549,-0.31946 -0.22626,-0.40651 z M 6.9996059,9.78508 c -0.3283798,0 -0.6488777,-0.0912 -0.928242,-0.26411 l -3.0750017,-1.90368 0,3.27796 c 0,0.97016 1.7931578,1.7555 4.0032436,1.7555 2.2108742,0 4.0038842,-0.78536 4.0038842,-1.7555 l 0,-3.27796 -3.0748786,1.90368 C 7.6492472,9.69388 7.3279857,9.78508 6.9996059,9.78508 Z"/></svg>
						educations
					</div>
				</div>
			</a>
		</li>

		<li class=" {{ app.request.attributes.get('_route') == 'app_experience' ? ' bg-gray-600 opacity-90 py-1  inline-flex items-center w-full text-sm font-semibold text-white transition-colors duration-150 cursor-pointer ' : 'py-1 inline-flex items-center w-full text-sm font-semibold text-gray-400 Open : false transition-colors duration-150 cursor-pointer  hover:bg-gray-600 hover:opacity-90  ' }}">
			<a href="{{ path('app_experience') }}" class="w-full ml-2  text-sm font-semibold   Open : false ">
				<div class="px-1   rounded-md">
					<div class="flex items-center">
						<svg class="h-4 w-4 mr-2" {% if app.request.attributes.get('_route') == 'app_experience' %} fill="#FFFFFF" {% else %} fill="#757575" {% endif %} width="800px" height="800px" viewbox="0 0 14 14" role="img" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><path d="m 2.9322778,4.864557 c 1.0654586,0 1.9322786,-0.8668286 1.9322786,-1.9322743 0,-1.0654628 -0.86682,-1.93228278 -1.9322786,-1.93228278 -1.0654362,0 -1.9322777,0.86681998 -1.9322777,1.93228278 0,1.0654457 0.8668312,1.9322743 1.9322777,1.9322743 z m 0,-2.6499771 c 0.3957643,0 0.7177037,0.3219514 0.7177037,0.7177028 0,0.3957429 -0.3219394,0.7177029 -0.7177037,0.7177029 -0.3957411,0 -0.7177028,-0.32196 -0.7177028,-0.7177029 0,-0.3957514 0.3219617,-0.7177028 0.7177028,-0.7177028 z m 6.9427363,10.3104071 0.3747519,0.37476 c 0.133669,0.133671 0.350394,0.133671 0.484074,0 l 0.653541,-0.653529 0.653541,0.653529 c 0.13368,0.133671 0.350393,0.133671 0.484074,0 l 0.374741,-0.37476 c 0.133669,-0.133672 0.133669,-0.350391 0,-0.484071 l -0.65353,-0.653538 0.653541,-0.653546 c 0.133669,-0.133672 0.133669,-0.3504 0,-0.48408 L 12.525007,9.8749998 c -0.13368,-0.133662 -0.350394,-0.133662 -0.484074,0 L 11.387381,10.528547 10.73384,9.8749998 c -0.133669,-0.133662 -0.350394,-0.133662 -0.484074,0 L 9.8750141,10.249752 c -0.1336689,0.133671 -0.1336689,0.350401 0,0.484081 l 0.6535419,0.653537 -0.6535419,0.653528 c -0.13368,0.133698 -0.13368,0.350418 0,0.484089 z m -6.1753137,-0.38213 0.5520798,0 c 0.2439197,0 0.4416634,-0.197743 0.4416634,-0.44166 l 0,-1.9496142 c 0,-1.0147544 0.8302508,-1.8336772 1.8450283,-1.8360944 C 6.9771104,7.9146313 7.4029956,7.827837 7.8044342,7.6580456 8.1941916,7.4931913 8.5440773,7.2573399 8.844409,6.9570399 9.144685,6.6567399 9.3805664,6.306837 9.5453839,5.9170856 9.7162524,5.5131913 9.802841,5.0845599 9.802841,4.643097 l 0,-0.6265886 0.654722,0 c 0.242915,0 0.373603,-0.2852571 0.21498,-0.4692171 L 9.3001176,1.9556284 c -0.113232,-0.1313142 -0.3167169,-0.1313142 -0.4299377,0 L 7.497721,3.5472742 C 7.3391196,3.7312427 7.4698039,4.0164999 7.7127233,4.0164999 l 0.6547106,0 0,0.6274971 c 0,1.0147714 -0.83025,1.8336857 -1.8450386,1.8360943 C 6.0837679,6.4809484 5.6578827,6.5677342 5.2564433,6.7375427 4.8666867,6.902397 4.516801,7.1382484 4.2164804,7.4385313 3.9161822,7.7388227 3.680323,8.0887342 3.5154722,8.4784942 3.3446367,8.882397 3.2580259,9.3110118 3.2580259,9.7524828 l 0,1.9487142 c 1.11e-5,0.243917 0.1977548,0.44166 0.4416745,0.44166 z"/></svg>
						experiences
					</div>
				</div>
			</a>
		</li>

		<li class=" {{ app.request.attributes.get('_route') == 'app_award' ? ' bg-gray-600 opacity-90 py-1  inline-flex items-center w-full text-sm font-semibold text-white transition-colors duration-150 cursor-pointer ' : 'py-1 inline-flex items-center w-full text-sm font-semibold text-gray-400 Open : false transition-colors duration-150 cursor-pointer  hover:bg-gray-600 hover:opacity-90  ' }}">
			<a href="{{ path('app_award') }}" class="w-full ml-2  text-sm font-semibold   Open : false ">
				<div class="px-1   rounded-md">
					<div class="flex items-center">

						<svg class="h-4 w-4 mr-2" viewbox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg">
							<g fill-rule="evenodd" clip-rule="evenodd" stroke="none" stroke-width="0.5">
								<path d="M1034.59 564.21L959.198 320L885.413 562.527H640L838.898 714.104L761.906 960L960.801 808.422L1159.7 960L1081.1 715.79L1280 564.21H1034.59Z" {% if app.request.attributes.get('_route') == 'app_award' %} fill="#FFFFFF" {% else %} fill="#757575" {% endif %}/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M357.542 0H1562.46V119.181H1920V542.868C1920 655.236 1875.36 763.003 1795.91 842.46C1731.12 907.242 1647.52 948.879 1557.95 962.049C1544.78 1051.62 1503.15 1135.22 1438.36 1200C1360.45 1277.91 1255.32 1322.35 1145.33 1324.05V1496.31C1145.33 1510.38 1150.91 1523.87 1160.86 1533.81C1170.81 1543.76 1184.3 1549.35 1198.36 1549.35C1263.32 1549.35 1325.61 1575.15 1371.54 1621.08C1417.47 1667.01 1443.28 1729.31 1443.28 1794.26V1920H476.723V1794.26C476.723 1729.31 502.528 1667.01 548.458 1621.08C594.388 1575.15 656.682 1549.35 721.639 1549.35C735.705 1549.35 749.195 1543.76 759.14 1533.81C769.086 1523.87 774.674 1510.38 774.674 1496.31V1324.05C664.677 1322.35 559.547 1277.91 481.637 1200C416.854 1135.22 375.218 1051.62 362.048 962.049C272.477 948.879 188.877 907.242 124.095 842.46C44.6379 763.003 0 655.236 0 542.868V119.181H357.542V0ZM489.832 132.29V900.41C489.832 977.693 520.533 1051.81 575.18 1106.46C629.828 1161.11 703.946 1191.81 781.229 1191.81H906.964V1496.31C906.964 1545.46 887.439 1592.6 852.684 1627.36C817.928 1662.11 770.79 1681.64 721.639 1681.64C691.77 1681.64 663.123 1693.5 642.001 1714.63C622.429 1734.2 610.805 1760.23 609.204 1787.71H1310.8C1309.2 1760.23 1297.57 1734.2 1278 1714.63C1256.88 1693.5 1228.23 1681.64 1198.36 1681.64C1149.21 1681.64 1102.07 1662.11 1067.32 1627.36C1032.56 1592.6 1013.04 1545.46 1013.04 1496.31V1191.81H1138.77C1216.05 1191.81 1290.17 1161.11 1344.82 1106.46C1399.47 1051.81 1430.17 977.693 1430.17 900.41V132.29H489.832ZM357.542 251.471H132.29V542.868C132.29 620.151 162.991 694.269 217.638 748.917C256.412 787.69 304.988 814.409 357.542 826.659V251.471ZM1562.46 826.659V251.471H1787.71V542.868C1787.71 620.151 1757.01 694.269 1702.36 748.917C1663.59 787.69 1615.01 814.409 1562.46 826.659Z" {% if app.request.attributes.get('_route') == 'app_award' %} fill="#FFFFFF" {% else %} fill="#757575" {% endif %}/>
							</g>
						</svg>
						honors & awards
					</div>
				</div>
			</a>
		</li>

		<li class=" {{ app.request.attributes.get('_route') == 'app_license_or_certification' ? ' bg-gray-600 opacity-90 py-1  inline-flex items-center w-full text-sm font-semibold text-white transition-colors duration-150 cursor-pointer ' : 'py-1 inline-flex items-center w-full text-sm font-semibold text-gray-400 Open : false transition-colors duration-150 cursor-pointer  hover:bg-gray-600 hover:opacity-90  ' }}">
			<a href="{{ path('app_license_or_certification') }}" class="w-full ml-2  text-sm font-semibold   Open : false ">
				<div class="px-1   rounded-md">
					<div class="flex items-center">
						<?xml
						version="1.0"?>
						<!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
						<svg class="h-4 w-4 mr-2" viewBox="0 0 32 32" data-name="Layer 1" id="Layer_1" xmlns="http://www.w3.org/2000/svg">
							<defs>
								{% if app.request.attributes.get('_route') == 'app_license_or_certification'  %}
									<style>
										.cls-1 {
											fill: #FFFFFF;
										}
									</style>
								{% else %}
									<style>
										.cls-1 {
											fill: #757575;
										}
									</style>
								{% endif %}
							</defs><title/><path class="cls-1" d="M28,5H4A2,2,0,0,0,2,7V24a2,2,0,0,0,2,2H18v3a1,1,0,0,0,.53.88,1,1,0,0,0,1-.05L22,28.2l2.45,1.63A1,1,0,0,0,26,29V26h2a2,2,0,0,0,2-2V7A2,2,0,0,0,28,5ZM22.59,21.94a3,3,0,1,1,2.35-2.35A3,3,0,0,1,22.59,21.94ZM24,27.13l-1.45-1a1,1,0,0,0-1.1,0l-1.45,1V23.58a5,5,0,0,0,4,0ZM28,24H26V22s0,0,0,0a4.93,4.93,0,0,0,.88-4.1A5,5,0,0,0,17,19a4.93,4.93,0,0,0,1,3s0,0,0,0v2H4V7H28Z"/><path class="cls-1" d="M7,12H25a1,1,0,0,0,0-2H7a1,1,0,0,0,0,2Z"/><path class="cls-1" d="M7,16h8a1,1,0,0,0,0-2H7a1,1,0,0,0,0,2Z"/><path class="cls-1" d="M7,20h8a1,1,0,0,0,0-2H7a1,1,0,0,0,0,2Z"/></svg>
						license & certification
					</div>
				</div>
			</a>
		</li>

		<li class=" {{ app.request.attributes.get('_route') == 'app_media' ? ' bg-gray-600 opacity-90 py-1  inline-flex items-center w-full text-sm font-semibold text-white transition-colors duration-150 cursor-pointer ' : 'py-1 inline-flex items-center w-full text-sm font-semibold text-gray-400 Open : false transition-colors duration-150 cursor-pointer  hover:bg-gray-600 hover:opacity-90  ' }}">
			<a href="{{ path('app_media') }}" class="w-full ml-2  text-sm font-semibold   Open : false ">
				<div class="px-1   rounded-md">
					<div class="flex items-center">

						<svg class="h-4 w-4 mr-2" {% if app.request.attributes.get('_route') == 'app_media' %} fill="#FFFFFF" {% else %} fill="#757575" {% endif %} viewBox="0 0 32 32" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink">
							<path d="M16,2c-7.727,0 -14,6.273 -14,14c0,7.727 6.273,14 14,14c7.727,0 14,-6.273 14,-14c-0,-7.727 -6.273,-14 -14,-14Zm-6.729,10.345l0.15,0.259l6.23,10.792l0.866,0.5c0,0 -0.861,-0.493 -0.861,-0.493l0.15,0.26c0.475,0.824 1.378,1.386 2.555,1.483c0.993,0.082 2.117,-0.184 3.119,-0.763c1.121,-0.647 2.118,-1.223 2.118,-1.223c0.478,-0.276 0.642,-0.887 0.366,-1.366l-2.077,-3.597c-0.276,-0.478 -0.888,-0.642 -1.366,-0.366l-0.866,0.5c0,-0 -3.846,-6.662 -3.846,-6.662c-0,0 0.866,-0.5 0.866,-0.5c0.478,-0.276 0.642,-0.888 0.366,-1.366l-2.077,-3.597c-0.276,-0.479 -0.888,-0.642 -1.366,-0.366c0,-0 -0.997,0.575 -2.118,1.223c-1.002,0.578 -1.795,1.419 -2.22,2.319c-0.505,1.068 -0.469,2.131 0.006,2.955l0.005,0.008Zm8.117,10.058l-6.39,-11.066c-0.177,-0.307 -0.118,-0.702 0.07,-1.1c0.267,-0.566 0.782,-1.079 1.412,-1.442c0,-0 1.252,-0.723 1.252,-0.723c0,-0 1.077,1.865 1.077,1.865c-0,0 -0.866,0.5 -0.866,0.5c-0.478,0.276 -0.642,0.888 -0.366,1.366l4.846,8.394c0.276,0.478 0.888,0.642 1.366,0.366l0.866,-0.5c0,-0 1.077,1.865 1.077,1.865c0,0 -1.252,0.723 -1.252,0.723c-0.63,0.364 -1.331,0.553 -1.955,0.502c-0.43,-0.035 -0.794,-0.176 -0.976,-0.47l-0.161,-0.28Z"/>
						</svg>
						contacts
					</div>
				</div>
			</a>
		</li>
		<li class=" {{ app.request.attributes.get('_route') == 'app_skills' ? ' bg-gray-600 opacity-90 py-1  inline-flex items-center w-full text-sm font-semibold text-white transition-colors duration-150 cursor-pointer ' : 'py-1 inline-flex items-center w-full text-sm font-semibold text-gray-400 Open : false transition-colors duration-150 cursor-pointer  hover:bg-gray-600 hover:opacity-90  ' }}">
			<a href="{{ path('app_skills') }}" class="w-full ml-2  text-sm font-semibold   Open : false ">
				<div class="px-1   rounded-md">
					<div class="flex items-center">

						<svg class="h-4 w-4 mr-2" {% if app.request.attributes.get('_route') == 'app_skills' %} fill="#FFFFFF" {% else %} fill="#757575" {% endif %} version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 490 490" xml:space="preserve">
							<g>
								<path d="M195.234,357.719L260.313,245l-65.078-112.719H65.078L0,245l65.078,112.719H195.234z M82.76,162.906h94.794L224.95,245
																																																																																																																																																					l-47.396,82.094H82.76L35.362,245L82.76,162.906z"/>
								<path d="M294.766,0l-65.078,112.718l65.078,112.718h130.156L490,112.718L424.922,0H294.766z M407.241,194.812h-94.794
																																																																																																																																																					l-47.397-82.093l47.397-82.093h94.794l47.396,82.093L407.241,194.812z"/>
								<path d="M294.766,264.563l-65.078,112.718L294.766,490h130.156L490,377.281l-65.078-112.718H294.766z M407.241,459.375h-94.794
																																																																																																																																										l-47.397-82.094l47.397-82.093h94.794l47.396,82.093L407.241,459.375z"/>
							</g>
						</svg>
						skills
					</div>
				</div>
			</a>
		</li>
		<li class=" {{ app.request.attributes.get('_route') == 'app_language' ? ' bg-gray-600 opacity-90 py-1  inline-flex items-center w-full text-sm font-semibold text-white transition-colors duration-150 cursor-pointer ' : 'py-1 inline-flex items-center w-full text-sm font-semibold text-gray-400 Open : false transition-colors duration-150 cursor-pointer  hover:bg-gray-600 hover:opacity-90  ' }}">
			<a href="{{ path('app_language') }}" class="w-full ml-2  text-sm font-semibold   Open : false ">
				<div class="px-1   rounded-md">
					<div class="flex items-center">

						<svg class="h-5 w-5 mr-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M20.58 19.37L17.59 11.01C17.38 10.46 16.91 10.12 16.37 10.12C15.83 10.12 15.37 10.46 15.14 11.03L12.16 19.37C12.02 19.76 12.22 20.19 12.61 20.33C13 20.47 13.43 20.27 13.57 19.88L14.19 18.15H18.54L19.16 19.88C19.27 20.19 19.56 20.38 19.87 20.38C19.95 20.38 20.04 20.37 20.12 20.34C20.51 20.2 20.71 19.77 20.57 19.38L20.58 19.37ZM14.74 16.64L16.38 12.05L18.02 16.64H14.74ZM12.19 7.85C9.92999 11.42 7.89 13.58 5.41 15.02C5.29 15.09 5.16 15.12 5.04 15.12C4.78 15.12 4.53 14.99 4.39 14.75C4.18 14.39 4.3 13.93 4.66 13.73C6.75999 12.51 8.48 10.76 10.41 7.86H4.12C3.71 7.86 3.37 7.52 3.37 7.11C3.37 6.7 3.71 6.36 4.12 6.36H7.87V4.38C7.87 3.97 8.21 3.63 8.62 3.63C9.02999 3.63 9.37 3.97 9.37 4.38V6.36H13.12C13.53 6.36 13.87 6.7 13.87 7.11C13.87 7.52 13.53 7.86 13.12 7.86H12.18L12.19 7.85ZM12.23 15.12C12.1 15.12 11.97 15.09 11.85 15.02C11.2 14.64 10.57 14.22 9.97999 13.78C9.64999 13.53 9.58 13.06 9.83 12.73C10.08 12.4 10.55 12.33 10.88 12.58C11.42 12.99 12.01 13.37 12.61 13.72C12.97 13.93 13.09 14.39 12.88 14.75C12.74 14.99 12.49 15.12 12.23 15.12Z" {% if app.request.attributes.get('_route') == 'app_language' %} fill="#ffffff" {% else %} fill="#757575" {% endif %}/>
						</svg>
						languages
					</div>
				</div>
			</a>
		</li>
		<li class=" {{ app.request.attributes.get('_route') == 'app_document' ? ' bg-gray-600 opacity-90 py-1  inline-flex items-center w-full text-sm font-semibold text-white transition-colors duration-150 cursor-pointer ' : 'py-1 inline-flex items-center w-full text-sm font-semibold text-gray-400 Open : false transition-colors duration-150 cursor-pointer  hover:bg-gray-600 hover:opacity-90  ' }}">
			<a href="{{ path('app_document') }}" class="w-full ml-2  text-sm font-semibold   Open : false ">
				<div class="px-1   rounded-md">
					<div class="flex items-center">
						<svg class="h-5 w-5 mr-2" {% if app.request.attributes.get('_route') == 'app_document' %} fill="#FFFFFF" {% else %} fill="#757575" {% endif %} viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"><path d="M 11.5050 56 L 32.9045 56 C 37.4664 56 39.6262 53.6859 39.6262 49.0799 L 39.6262 45.0027 L 43.9237 45.0027 C 48.4638 45.0027 50.7337 42.6887 50.7337 38.0826 L 50.7337 19.6364 C 50.7337 16.9256 50.2047 15.2066 48.5518 13.5096 L 37.4224 2.1818 C 35.8356 .5730 34.0064 0 31.6483 0 L 22.6345 0 C 18.0945 0 15.8025 2.3141 15.8025 6.9201 L 15.8025 10.9972 L 11.5050 10.9972 C 6.9651 10.9972 4.6731 13.3113 4.6731 17.9174 L 4.6731 49.0799 C 4.6731 53.7080 6.9651 56 11.5050 56 Z M 39.6262 31.3168 C 39.6262 28.4959 39.2957 27.2617 37.5325 25.4545 L 25.3893 13.0909 C 23.7144 11.3719 22.3259 10.9972 19.8356 10.9972 L 19.3507 10.9972 L 19.3507 6.9642 C 19.3507 4.8044 20.5408 3.5482 22.8108 3.5482 L 32.1111 3.5482 L 32.1111 15.0744 C 32.1111 17.6088 33.3673 18.8429 35.8797 18.8429 L 47.1856 18.8429 L 47.1856 38.0385 C 47.1856 40.2204 46.0175 41.4545 43.7254 41.4545 L 39.6262 41.4545 Z M 36.4086 15.6474 C 35.6152 15.6474 35.3067 15.3168 35.3067 14.5455 L 35.3067 4.2534 L 46.5023 15.6474 Z M 11.6813 52.4518 C 9.4113 52.4518 8.2213 51.2176 8.2213 49.0138 L 8.2213 17.9614 C 8.2213 15.8017 9.4113 14.5455 11.7033 14.5455 L 19.3507 14.5455 L 19.3507 27.3278 C 19.3507 30.1047 20.7612 31.4711 23.4940 31.4711 L 36.0780 31.4711 L 36.0780 49.0138 C 36.0780 51.2176 34.8879 52.4518 32.5959 52.4518 Z M 23.9127 28.1432 C 23.0312 28.1432 22.6786 27.7906 22.6786 26.9311 L 22.6786 15.2286 L 35.3948 28.1432 Z"/></svg>
						documents
					</div>
				</div>
			</a>
		</li>

<h1>test</h1>


							{% if app.request.attributes.get('_route') in ['app_settings_credentials','app_auth_create_user'] %}
								<li class="relative px-2 py-1" x-data="{ Open : true  }">
								{% else %}
									<li class="relative px-2 py-1" x-data="{ Open : false  }">
									{% endif %}
									{% if app.request.attributes.get('_route') in ['app_settings_credentials','app_auth_create_user'] %}
										<div class=" inline-flex items-center justify-between w-full text-white font-semibold transition-colors duration-150   cursor-pointer p-1" x-on:click="Open = !Open">
										{% else %}
											<div class="p-1 inline-flex items-center justify-between w-full text-gray-400 font-semibold transition-colors duration-150  cursor-pointer " x-on:click="Open = !Open">
											{% endif %}
											<span class="inline-flex items-center  text-sm font-semibold  Open : false  ">
												{% if app.request.attributes.get('_route') in ['app_settings_credentials','app_auth_create_user'] %}
													<svg class="h-5 w-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M6 12L6 5" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"/>
														<path d="M12 8L12 5" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"/>
														<path d="M6 19L6 16" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"/>
														<path d="M18 19L18 17" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"/>
														<path d="M12 19L12 12" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"/>
														<path d="M10 8L14 8" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"/>
														<path d="M4 16L8 16" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"/>
														<path d="M16 17H20" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"/>
														<path d="M18 13L18 5" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"/>
													</svg>
												{% else %}
													<svg class="h-5 w-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M6 12L6 5" stroke="#757575" stroke-width="2" stroke-linecap="round"/>
														<path d="M12 8L12 5" stroke="#757575" stroke-width="2" stroke-linecap="round"/>
														<path d="M6 19L6 16" stroke="#757575" stroke-width="2" stroke-linecap="round"/>
														<path d="M18 19L18 17" stroke="#757575" stroke-width="2" stroke-linecap="round"/>
														<path d="M12 19L12 12" stroke="#757575" stroke-width="2" stroke-linecap="round"/>
														<path d="M10 8L14 8" stroke="#757575" stroke-width="2" stroke-linecap="round"/>
														<path d="M4 16L8 16" stroke="#757575" stroke-width="2" stroke-linecap="round"/>
														<path d="M16 17H20" stroke="#757575" stroke-width="2" stroke-linecap="round"/>
														<path d="M18 13L18 5" stroke="#757575" stroke-width="2" stroke-linecap="round"/>
													</svg>
												{% endif %}
												<span class="ml-4">SETTINGS</span>
											</span>
											{% if app.request.attributes.get('_route') in ['app_settings_credentials','app_auth_create_user'] %}
												<span>
													<svg x-show="!Open" viewbox="0 0 24 24" fill="#FFFFFF" class="h-5 w-5 text-gray-400 hover:text-blue-100" xmlns="http://www.w3.org/2000/svg">
														<path d="M7.82054 20.7313C8.21107 21.1218 8.84423 21.1218 9.23476 20.7313L15.8792 14.0868C17.0505 12.9155 17.0508 11.0167 15.88 9.84497L9.3097 3.26958C8.91918 2.87905 8.28601 2.87905 7.89549 3.26958C7.50497 3.6601 7.50497 4.29327 7.89549 4.68379L14.4675 11.2558C14.8581 11.6464 14.8581 12.2795 14.4675 12.67L7.82054 19.317C7.43002 19.7076 7.43002 20.3407 7.82054 20.7313Z" fill="#FFFFFF"/>
													</svg>

													<svg x-show="Open" viewbox="0 0 24 24" fill="#FFFFFF" class="h-5 w-5 text-gray-400 Open : false transform rotate-90" xmlns="http://www.w3.org/2000/svg">
														<path d="M7.82054 20.7313C8.21107 21.1218 8.84423 21.1218 9.23476 20.7313L15.8792 14.0868C17.0505 12.9155 17.0508 11.0167 15.88 9.84497L9.3097 3.26958C8.91918 2.87905 8.28601 2.87905 7.89549 3.26958C7.50497 3.6601 7.50497 4.29327 7.89549 4.68379L14.4675 11.2558C14.8581 11.6464 14.8581 12.2795 14.4675 12.67L7.82054 19.317C7.43002 19.7076 7.43002 20.3407 7.82054 20.7313Z" fill="#FFFFFF"/>
													</svg>
												</span>
											{% else %}

												<span>
													<svg x-show="!Open" viewbox="0 0 24 24" fill="#757575" class="h-5 w-5 text-gray-400 hover:text-blue-100" xmlns="http://www.w3.org/2000/svg">
														<path d="M7.82054 20.7313C8.21107 21.1218 8.84423 21.1218 9.23476 20.7313L15.8792 14.0868C17.0505 12.9155 17.0508 11.0167 15.88 9.84497L9.3097 3.26958C8.91918 2.87905 8.28601 2.87905 7.89549 3.26958C7.50497 3.6601 7.50497 4.29327 7.89549 4.68379L14.4675 11.2558C14.8581 11.6464 14.8581 12.2795 14.4675 12.67L7.82054 19.317C7.43002 19.7076 7.43002 20.3407 7.82054 20.7313Z" fill="#757575"/>
													</svg>

													<svg x-show="Open" viewbox="0 0 24 24" fill="#757575" class="h-5 w-5 text-gray-400 Open : false transform rotate-90" xmlns="http://www.w3.org/2000/svg">
														<path d="M7.82054 20.7313C8.21107 21.1218 8.84423 21.1218 9.23476 20.7313L15.8792 14.0868C17.0505 12.9155 17.0508 11.0167 15.88 9.84497L9.3097 3.26958C8.91918 2.87905 8.28601 2.87905 7.89549 3.26958C7.50497 3.6601 7.50497 4.29327 7.89549 4.68379L14.4675 11.2558C14.8581 11.6464 14.8581 12.2795 14.4675 12.67L7.82054 19.317C7.43002 19.7076 7.43002 20.3407 7.82054 20.7313Z" fill="#757575"/>
													</svg>
												</span>
											{% endif %}


										</div>

										<div x-show.transition="Open" style="display:none;">
											<ul x-transition:enter="transition-all ease-in-out duration-300" x-transition:enter-start="opacity-25 max-h-0" x-transition:enter-end="opacity-100 max-h-xl" x-transition:leave="transition-all ease-in-out duration-300" x-transition:leave-start="opacity-100 max-h-xl" x-transition:leave-end="opacity-0 max-h-0" class=" mt-2 px-2 space-y-2 overflow-hidden text-sm font-medium  rounded-md  " aria-label="submenu">

												<li class=" {{ app.request.attributes.get('_route') == 'app_settings_credentials' ? '  bg-gray-600 opacity-90 py-1  inline-flex items-center w-full text-sm font-semibold text-white transition-colors duration-150 cursor-pointer ' : 'py-1 inline-flex items-center w-full text-sm font-semibold text-gray-400 Open : false transition-colors duration-150 cursor-pointer  hover:bg-gray-600 hover:opacity-90  ' }}">
													<a href="{{ path('app_settings_credentials') }}" class="w-full ml-2  text-sm font-semibold   Open : false ">
														<div class="px-1   rounded-md">
															<div class="flex items-center">
																<svg class="h-4 w-4 mr-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path fill-rule="evenodd" clip-rule="evenodd" d="M11.9426 1.25H12.0574C14.3658 1.24999 16.1748 1.24998 17.5863 1.43975C19.031 1.63399 20.1711 2.03933 21.0659 2.93414C21.9607 3.82895 22.366 4.96897 22.5603 6.41371C22.75 7.82519 22.75 9.63423 22.75 11.9426V12.0574C22.75 14.3658 22.75 16.1748 22.5603 17.5863C22.366 19.031 21.9607 20.1711 21.0659 21.0659C20.1711 21.9607 19.031 22.366 17.5863 22.5603C16.1748 22.75 14.3658 22.75 12.0574 22.75H11.9426C9.63423 22.75 7.82519 22.75 6.41371 22.5603C4.96897 22.366 3.82895 21.9607 2.93414 21.0659C2.03933 20.1711 1.63399 19.031 1.43975 17.5863C1.24998 16.1748 1.24999 14.3658 1.25 12.0574V11.9426C1.24999 9.63423 1.24998 7.82519 1.43975 6.41371C1.63399 4.96897 2.03933 3.82895 2.93414 2.93414C3.82895 2.03933 4.96897 1.63399 6.41371 1.43975C7.82519 1.24998 9.63423 1.24999 11.9426 1.25ZM6.61358 2.92637C5.33517 3.09825 4.56445 3.42514 3.9948 3.9948C3.42514 4.56445 3.09825 5.33517 2.92637 6.61358C2.75159 7.91356 2.75 9.62177 2.75 12C2.75 14.3782 2.75159 16.0864 2.92637 17.3864C3.09825 18.6648 3.42514 19.4355 3.9948 20.0052C4.56445 20.5749 5.33517 20.9018 6.61358 21.0736C7.91356 21.2484 9.62177 21.25 12 21.25C14.3782 21.25 16.0864 21.2484 17.3864 21.0736C18.6648 20.9018 19.4355 20.5749 20.0052 20.0052C20.5749 19.4355 20.9018 18.6648 21.0736 17.3864C21.2484 16.0864 21.25 14.3782 21.25 12C21.25 9.62177 21.2484 7.91356 21.0736 6.61358C20.9018 5.33517 20.5749 4.56445 20.0052 3.9948C19.4355 3.42514 18.6648 3.09825 17.3864 2.92637C16.0864 2.75159 14.3782 2.75 12 2.75C9.62177 2.75 7.91356 2.75159 6.61358 2.92637ZM8.5 10.25C7.5335 10.25 6.75 11.0335 6.75 12C6.75 12.9665 7.5335 13.75 8.5 13.75C9.4665 13.75 10.25 12.9665 10.25 12C10.25 11.0335 9.4665 10.25 8.5 10.25ZM5.25 12C5.25 10.2051 6.70507 8.75 8.5 8.75C10.0368 8.75 11.3245 9.81665 11.663 11.25H17C17.9665 11.25 18.75 12.0335 18.75 13V14C18.75 14.4142 18.4142 14.75 18 14.75C17.5858 14.75 17.25 14.4142 17.25 14V13C17.25 12.8619 17.1381 12.75 17 12.75H16.25V13.5C16.25 13.9142 15.9142 14.25 15.5 14.25C15.0858 14.25 14.75 13.9142 14.75 13.5V12.75H11.663C11.3245 14.1834 10.0368 15.25 8.5 15.25C6.70507 15.25 5.25 13.7949 5.25 12Z" {% if app.request.attributes.get('_route') == 'app_settings_credentials' %} fill="#FFFFFF" {% else %} fill="#757575" {% endif %}/>
																</svg>
																credentials
															</div>
														</div>
													</a>
												</li>
												{% if is_granted('ROLE_ADMIN') %}
													<li class=" {{ app.request.attributes.get('_route') == 'app_auth_create_user' ? '  bg-gray-600 opacity-90 py-1  inline-flex items-center w-full text-sm font-semibold text-white transition-colors duration-150 cursor-pointer ' : 'py-1 inline-flex items-center w-full text-sm font-semibold text-gray-400 Open : false transition-colors duration-150 cursor-pointer  hover:bg-gray-600 hover:opacity-90  text-gray-400 Open : false transition-colors duration-150 cursor-pointer ' }}">
														<a href="{{ path('app_auth_create_user') }}" class="w-full ml-2  text-sm font-semibold   Open : false ">
															<div class="px-1   rounded-md">
																<div class="flex items-center">
																	<svg class="h-4 w-4 mr-2" viewBox="0 0 24 24" {% if app.request.attributes.get('_route') == 'app_auth_create_user' %} fill="#FFFFFF" {% else %} fill="#757575" {% endif %} xmlns="http://www.w3.org/2000/svg">
																		<path d="M20 18L14 18M17 15V21M7.68213 14C8.63244 14.6318 9.77319 15 10.9999 15C11.7012 15 12.3744 14.8797 13 14.6586M10.5 21H5.6C5.03995 21 4.75992 21 4.54601 20.891C4.35785 20.7951 4.20487 20.6422 4.10899 20.454C4 20.2401 4 19.9601 4 19.4V17C4 15.3431 5.34315 14 7 14H7.5M15 7C15 9.20914 13.2091 11 11 11C8.79086 11 7 9.20914 7 7C7 4.79086 8.79086 3 11 3C13.2091 3 15 4.79086 15 7Z" {% if app.request.attributes.get('_route') == 'app_auth_create_user' %} stroke="#FFFFFF" {% else %} stroke="#757575" {% endif %} stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
																	</svg>

																	create Users
																</div>
															</div>
														</a>
													</li>
												{% endif %}

											</ul>
										</div>
									</li>
								</li>
							</ul>
						</div>
					</li>
				</li>
			</li>
		</li>
